<div class="second_flo">
  <div class="left">
    <div *ngFor="let item of info;let i=index;" class="module1">
      <div class="title">
        {{item.title}}
      </div>
      <!--<div class="imag"></div>-->
      <img  class="imag" src="../../assets/images/狗狗.png"/>

      <div class="date">
        <p class="small_title">{{item.smalltitle}}</p>
        <p>{{item.detail}}</p>
      </div>
    </div>
    <!--<div *ngFor="let item of skill;let i=index;" class="skill">-->
    <!--<div class="main_title">-->
    <!--{{item.title}}-->
    <!--</div>-->
    <!--<div class="skill_title">-->
    <!--{{item.skilltitle}}-->
    <!--</div>-->
    <!--<div class="skill_detail">-->
    <!--{{item.skliidetail}}-->
    <!--</div>-->

    <!--</div>-->
  </div>
  <app-search-history></app-search-history>

</div>
