<div class="second_flo">
  <div class="left">
    <div routerLink="/diary/detail/{{item?.id}}"
         *ngFor="let item of data.diary|page:page?.pagenumber:page?.pagesize;let i=index;" class="module1">
      <div class="title">
        {{item?.title|numberPipe:10}}
      </div>
      <img class="imag" src="{{_uploadUrl}}{{item?.img}}"/>
      <div class="date">
        <p class="small_title">领养日志</p>
        <p>{{item?.content|numberPipe:100}}</p>
      </div>
    </div>
    <app-page-out (page)="changepage($event)" [list_data]="list_data"></app-page-out>
  </div>
</div>
