<div class="background">
  <div class="back1">
    <div class="back1_left">
      <div class="back1_left1">
        <div><img class="head_imag" src="../../../assets/diary-images/头像.jpg"/></div>
        <div class="inside">
          <ul>
            <li class="username">用户名</li>
            <li>发表于：</li>
            <li>2017-09-09</li>
            <li>10：31</li>
          </ul>
          <span class="readtimes">浏览次数（<span class="readtime">533</span>）</span>
        </div>
      </div>
      <div *ngFor="let item of xiangqing;let i=index;" class="back1_left2">
        <div class="back1_left2_left" id="aa{{i}}">
          <div class="circle">
            {{item.day}}
          </div>
          <p class="date"><a></a> {{item.date2}}</p>
        </div>
        <div class="back1_left2_right">
          <p class="info">
            {{item.info}}
            <span class="viewall" (click)="showall(i)">
              <span>显示全部>></span></span>
              <span><a>显示全部>></a></span>
            <!--*ngIf="del==true"-->
            <!--<span class="viewall" (click)="shou(1)">-->
              <!--<span *ngIf="del==false">收起>></span> </span>-->

          </p>
          <div class="discuss">
            <ul>
              <li><img src="../../../assets/diary-images/气泡.png" height="16" width="16"/> <span class="count">{{item.count}} </span>条评论
              </li>
              <li class="a"><a><img src="../../../assets/diary-images/五角星.png" height="14" width="14"/> <span
                class="sc">收藏</span></a></li>
            </ul>
          </div>

        </div>

      </div>


    </div>
    <div class="back1_right">
      <div class="showdate">日期</div>
      <div class="concret_time">
        <ul>
          <li *ngFor="let item of xiangqing;let i=index"><a href="#aa{{i}}"><span class="small_circle"></span><span
            class="small_div"> {{item.date}} </span></a></li>
        </ul>
      </div>


    </div>

  </div>
</div>
