<div class="index_adv">

  <!--<ul>-->
  <!--<li><a href=""><img src="../../assets/diary-images/1.jpg"/></a></li>-->
  <!--</ul>-->

  <div class="back">
    <!--<div class="imag">-->
      <img class=" back_imag" src="../../../assets/diary-images/{{data[id].backimag}}"/>
    <!--</div>-->
    <!--<img class="touxiang" src="../../../assets/diary-images/头像.jpg"/>-->
    <!--<div class="head_imag"></div>-->
    <img   class="head_imag" src="../../../assets/diary-images/{{data[id].headimg}}" />
    <div class="head_word">
      <p class="username">{{data[id].UserName}}</p>
      <p class="info_words">{{data[id].words}}</p>
      <div class="carousel">
        <ul>
          <li *ngFor="let item of data;let i=index" (click)="changeId(i)" >
            <img class="pic" src="../../../assets/diary-images/{{item.backimag}}"/>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <img class="ss" src="../../../assets/diary-images/{{data[id].backimag}}"/>
</div>



