.page_out {
  height: 30px;
  width: 100%;
  line-height: 30px;
  max-width: 800px;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.page_out:hover{
  cursor: default;
  margin-bottom: 30px;
}
.page_tag {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 8px;
  border-radius: 100%;
}

.page_tag:hover {
  background-color: #d0d0d0;
}
.page_tag_active{
  background-color: #a1a1a1;
}
.page_btn_enable{
  color: #d0d0d0 !important;
}
.first,
.end,
.next,
.prev {
  padding: 0 10px;
  color: #6a6a6a;
}
