<div class="main">
  <div class="mid">

      <p><span class="sp1">用户名：</span>
        <span *ngIf="del==!true">{{user}}</span>
        <input type="text" *ngIf="del==true" name="user" [(ngModel)]="user" value="{{user}}">
      </p>

      <p>
        <span class="sp1">性别：</span>
        <span *ngIf="del==!true">{{sex}}</span>
        <select name="sex" id="sex" *ngIf="del==true" [(ngModel)]="sex" value="{{sex}}">
          <option>男</option>
          <option>女</option>
        </select>
      </p>

      <p><span class="sp1">地址：</span>
        <span *ngIf="del==!true">{{addres}}</span>
        <input type="text" *ngIf="del==true" name="addres" required [(ngModel)]="addres" value="addres">
      </p>


      <div class="form-group">
        <p><span class="sp1">电话tel：</span>
          <span *ngIf="del==!true">{{tel}}</span>
          <input type="text" name="tele" id="tele"
                 #tele="ngModel" pattern="1[34578]\d{9}$" *ngIf="del==true"  [(ngModel)]="tel"
                  required minlength="11">
        </p>
      </div>

      <!--<div *ngIf="tele.invalid  && (tele.dirty||tele.touched)" class="alert alert-danger">-->
        <!--<div *ngIf="tele.errors.required">号码不能为空</div>-->
        <!--<div *ngIf="tele.errors.pattern">号码格式 不正确</div>-->
      <!--</div>-->


      <p><span class="sp1">年龄：</span>
        <span *ngIf="del==!true">{{age}}</span>
        <input type="text" *ngIf="del==true" name="age" [(ngModel)]="age" value="age">
      </p>
    <div class="btn" (click)="revamp()" *ngIf="del==false">修改信息</div>
    <div class="btn" (click)="revamp2()" *ngIf="del==true">确认修改</div>
    <div class="btn" (click)="revamp2()" *ngIf="del==true">取消</div>
  </div>
</div>
