.right{
  width: 300px;
  float: left;
  border-bottom: solid 1px #bac2d0;
  box-shadow: 0px 3px 5px -2px rgb(170, 170, 170);
}
.history{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  color: #9ca3b1;
}
.empty{
  color: #9ca3b1;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.line1{
  width: 100%;
  float: left;
}
.history_detail{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  margin-top: 20px;
  padding-left: 20px;
}
.history_detail:hover{
  background-color: #e7e7e7;
}

