<div class="main" *ngIf="data.length>=0">
  <ul>
    <li *ngFor="let item of data;let i =index">
      <div class="myContainer">
        <img src="{{_uploadUrl}}{{item.img}}" alt="">
        <div class="info">
          <div class="count">
            <div class="count_count">
              <span> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>  {{item.likecount}}个赞</span><br>
              <span> <i class="fa fa-comment " aria-hidden="true"></i>  {{item.reviewcount}}条评论</span><br>
              <span> <i class="fa fa-star " aria-hidden="true"></i>  {{item.collectcount}}次收藏</span><br>
            </div>
            <div class="href">
              <button class="diary" >写日记</button>
            </div>
          </div>
          <span class="title">{{item.title}}</span><br>
          <span class="state">发布时间:</span><span>{{item.time | date:'y-MM-dd'}}</span>
        </div>
      </div>
    </li>
  </ul>
</div>
