.index-container-diary-div {
  clear: both;
  width: 100%;
  background-color: #f3dd00;
  background: url("../../../assets/upload/diary/index_diary_bg3.png");
  /*background: no-repeat;*/
  margin-top: 50px;
  padding-top: 25px;
  text-align: center;
  overflow: hidden;
}

.index-container-diary-ul {
  width: 6000px;
  height: 390px;
  position: absolute;
}

.pppp{
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}
.index-container-diary-ul li {
  width: 1200px;
  height: 300px;
  padding-left: 100px;
  float: left;
  overflow: hidden;
  /*margin-top: 10px;*/
}

.index-container-diary-ul li:first-child {
  width: 1200px;
}

.index-container-diary-ul li div {
  width: 300px;
  height: 300px;
  float: left;
  /*padding-top: 50px;*/
  /*background-color: white;*/
}

.index-container-diary-ul li div:nth-child(2) {
  margin: 0 50px;
}

.index-container-diary-ul-list {
  width: 300px;
  height: 10px;
  margin: 0 auto;
}

.index-container-diary-ul-list li {
  float: left;
  width: 60px;
  height: 10px;
  padding: 0 10px;
}

.index-container-diary-ul-list li a {
  /*border: solid 1px white;*/
  width: 40px;
  height: 10px;
  display: block;
}
.index-container-diary-ul-list li a i:hover{
  background-color: #f3dd00;
}
.qqq{
  background-color: #ffffff !important;
}
.index-container-diary-ul-list li a i {
  width: 40px;
  height: 10px;
  display: block;
  background-color: rgba(255, 255, 255, 0.31);
}

.index-container-diary-ul-list li:first-child a i {
  width: 40px;
}

#index-container-diary-btn {
  border: solid 1px #c6c6c6;
  width: 180px;
  border: none;
  background-color: white;
  color: #444444;
  border-radius: 3px;
  margin: 0 auto;
  /*color: #ffc907;*/
  /*font-weight: 600;*/
  /*border-bottom: 2px solid #ffc907;*/
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 30px;
  outline: none;
  margin-bottom: 30px;
  cursor: pointer;
}

#index-container-diary-btn:hover {
  box-shadow: 0 0 5px #8a8a8a;
  /*border-color: #ffc907;*/
  border-color: #bfbfbf;
  /*box-shadow: 0 0 20px #bfbfbf;*/
  /*background-color: #f3dd00;*/

  /*box-shadow: 0 0 20px #ffffff;*/

  /*margin-top: 20px;*/
  /*margin-bottom: 5px;*/
}
.head ul{
  width: 100px;
}
.index-container-diary-a{
  width: 150px;
  margin: 0 auto;
  /*padding-bottom: 20px;*/
  text-align:center;
  color: #444444;
  font-weight: 500;
  font-size: 30px;
  /*font-weight: 600;*/
}
