<div class="row">
  <div class="index-container-diary-div">
    <a class="index-container-adoption-a">领养日记</a>
    <ul class="index-container-diary-ul">
      <li>
        <div>1</div>
        <div>1</div>
        <div>1</div>
      </li>
      <li>
        <div>2</div>
        <div>2</div>
        <div>2</div>
      </li>
      <li>
        <div>3</div>
        <div>3</div>
        <div>3</div>
      </li>
      <li>
        <div>4</div>
        <div>4</div>
        <div>4</div>
      </li>
      <li>
        <div>5</div>
        <div>5</div>
        <div>5</div>
      </li>
    </ul>
    <ul class="index-container-diary-ul-list">
      <li id="list0" value="0"><a><i></i></a></li>
      <li id="list1" value="1"><a><i></i></a></li>
      <li id="list2" value="2"><a><i></i></a></li>
      <li id="list3" value="3"><a><i></i></a></li>
      <li id="list4" value="4"><a><i></i></a></li>
    </ul>
    <button id="index-container-diary-btn">查看更多日记</button>
  </div>
</div><!--领养日记-->
