<div class="back">
  <!--<div class="left">-->
    <!--<div class="logo">-->
    <!--<img  class="logo" src="../../assets/images/logoottom.png" /></div>-->
    <!--<div class="nn">-->
      <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="middle">-->
    <!--<div class="zz">-->
      <!--<ul class="ul_1">-->
        <!--<li>首页</li>-->
        <!--<li>关于我们</li>-->
        <!--<li>领养中心</li>-->
        <!--<li>领养日志</li>-->
        <!--<li>养宠技巧</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="xx">-->
      <!--<ul class="ul_2">-->
        <!--<li class="cc">宠物领养中心</li>-->
        <!--<li>-->
          <!--<span>联系电话：</span><br>-->
          <!--<span class="vv">159xxxxx</span>-->
        <!--</li>-->
        <!--<li>-->
         <!--<span>电子邮件：</span><br>-->
          <!--<span class="vv">xxxxxxxxxx</span>-->
        <!--</li>-->
      <!--</ul>-->


    <!--</div>-->
  <!--</div>-->
  <!--<div class="right">-->
    <!--<div class="ewm">-->

    <!--</div>-->
    <!--<div class="bb">-->
      <!--微信公众吧-->
    <!--</div>-->
  <!--</div>-->
<div class="up"></div>
  <div class="middle">
    <ul class="zz">
      <li>首页</li>
      <li>关于我们</li>
      <li>领养中心</li>
      <li>领养日志</li>
      <li>养宠技巧</li>
    </ul>
  </div>
  <div class="down">
    <div class="bb">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
  </div>
</div>
