<div class="container_2">
  <div class="aaa">
<div class="left">
  <div *ngFor="let item of diary;let i=index"class="detail-1">
    <div class="line"></div>
    <div class="detail-1-1 ">
    <!--<div class="imag"></div>-->
      <img  class="imag" src="../../../assets/diary-images/{{item.headImag}}"/>
      <div class="username ">{{item.id}}</div>
    <div class="info1 ">
    <ul class="ul-1">
      <li>在</li>
      <li class="country">印度尼西亚</li>
      <li>发表的日志</li>
    </ul>
  </div>
    <div class="info2">
      <ul class="ul-2">
        <li><i id="dianzan"><img src="../../../assets/diary-images/点赞.png" height="16" width="16"/></i> <span>365</span>人赞过</li>
        <li><i><img src="../../../assets/diary-images/时钟.png" height="16" width="16"/></i> 最后回复于<span>6</span>天前</li>
      </ul>
    </div>
    </div>
    <div class="detail-1-2  ">
    <div class="left_word">
      <p class="left_word_name" >精品纯种原生态藏獒专业狗场直销 兰州地区可上门购买</p>
      <p class="left_word_info">虽然我们是繁育犬只和销售犬只的从业者，却也是资深的爱狗
        人士。对爱狗的我们来说，经营这项事业，绝对需要高度的职业...</p>
    </div>
      <!--<div class="right_imag "></div>-->
        <img class="right_imag" src="../../../assets/diary-images/{{item.rightimag}}"/>

    </div>
</div>
</div>
    <div class="right">

  <div class="guanggao_1"></div>
  <div class="guanggao_2"></div>
  <div class="guanggao_3"></div>


</div>
    <div class="page">
      <ul class="paging">
        <li id="persent"><a href="">当前：<span>1</span>/22</a></li>
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">6</a></li>
        <li><a href="">7</a></li>
        <li><a href="">8</a></li>
        <li><a href="">9</a></li>
        <li id="next"><a href="">下一页</a></li>
        <li id="last"><a href="">最后一页</a></li>
      </ul>
    </div>
  </div>
</div>
