
.aa{
  margin-left: -65px;
  margin-top: 12px;
}
.row{
  float: left;
}
ul{
  height: 40px;
  padding-left: 150px;
  /*list-style: none;*/
  /*margin-left: 178px;*/

}
li{
  float: left;
}
.lyrz{
  font-size:2em;
  margin-top: 6px;
}
.fenxiang{
  margin-top: 20px;

}
.dd{
  height: 1200px;
  clear: both;
  background-color: #f0f0f0;
}

.write{
  margin-left: 950px;
  margin-top: 10px;
  font-size: 1.1em;
  border: solid 1px #9ca3b1;
  padding: 5px;
  border-radius: 36px;
  color: #444444;
}
