
.aa{
  margin-left: -65px;
  margin-top: 12px;
}
.row{
  float: left;
}
ul{
  height: 40px;
  list-style: none;
  margin-left: 178px;

}
li{
  float: left;
  margin-left: 5px;
}
.lyrz{
  font-size:2em;
  margin-top: 6px;
}
.fenxiang{
  margin-top: 20px;

}
.dd{
  height: 1200px;
  clear: both;
  background-color: #f0f0f0;
}

