<div class="index_adv" *ngIf="id>=0">
  <div class="back">
      <img class=" back_imag" src="{{_uploadUrl}}{{data[id]?.img}}"/>
    <img class="head_imag" src="{{_uploadUrl}}{{data[id]?.headimg}}" />
    <div class="head_word">
      <p class="username">{{data[id]?.nickname}}</p>
      <p class="info_words">{{data[id]?.content}}</p>
      <div class="carousel">
        <ul>
          <li *ngFor="let item of data;let i=index" (click)="changeId(i)" >
            <img class="pic" [class.active]="id==i" src="{{_uploadUrl}}{{item?.img}}"/>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <img class="ss" src="{{_uploadUrl}}{{data[id]?.img}}" routerLink="./detail/{{data[id]?.diaryID}}"/>
</div>



