.index-container-skill-div {
  clear: both;
  width: 100%;
  height: 900px;
  background-color: #ffffff;
  padding-top: 25px;
  text-align: center;
  overflow: hidden;
}

.index-container-skill-ul {
  width: 6000px;
  /*height: 700px;*/
  position: absolute;
}

.index-container-skill-ul li {
  width: 1200px;
  /*height: 700px;*/
  /*background-color: #2cff47;*/
  float: left;
  overflow: hidden;
}

.index-container-skill-ul li:first-child {
  width: 1200px;
}

.index-container-skill-ul li div {
  width:280px;
  height: 350px;
  float: left;
  margin: 10px;
  /*background-color: #2cff47;*/
}
.index-container-skill-ul li .all {
  /*box-shadow:3px 3px 5px #a2a2a2;*/
  border: solid 1px #CCCCCC;
  background-color: white;
  position: relative;

}
.index-container-skill-ul li .all:hover{
  border-color: #CCCCCC;
  /*box-shadow: 0 0 20px #c8c8c8;*/
}
.piv{
  cursor: pointer;
  width: 280px;
  height: 350px;
  /*margin: 10px;*/
  /*z-index: 22;*/
  background-color: rgba(232, 208, 171, 0.5);
  position: absolute;
  left: -10px;
  top: -10px;
  opacity: 0;
  display: block;
}
.piv:hover{
  /*z-index: 22;*/
  opacity: 1;
}
.oo{
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(98, 98, 98, 0.36);
  border-radius: 100%;
  margin-left: 115px;
  margin-top: 128px;
  /*font-weight: 600;*/
  color: white;
  font-size: 2em;
  line-height: 50px;
  padding-left: 5px;
  /*border: solid 2px white;*/
  /*z-index: 768;*/
}

.index-container-skill-ul li div .diary_imag_up{
  width: 278px;
  height: 200px;
  /*background-color: #ff2846;*/
  margin: 0;
}
.index-container-skill-ul li div .diary_words_middle{
  width: 280px;
  height: 70px;
  margin: 0;
  font-size: 1.2em;
  font-weight: 600;
  /*background-color: #ffab8e;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  color: #444444;

}
.index-container-skill-ul li div .diary_words_dowm{
  width: 280px;
  height: 35px;
  /*margin-top: 20px;*/
  /*background-color: #57f0ff;*/
  text-align: right;
  padding-right: 20px;
  line-height: 35px;
  color: #444444;

}

.index-container-skill-ul-list {
  width: 300px;
  height: 10px;
  margin: 0 auto;
}

.index-container-skill-ul-list li {
  float: left;
  width: 60px;
  height: 10px;
  padding: 0 10px;
}

.index-container-skill-ul-list li a {
  border: solid 1px #ffc907;
  width: 40px;
  height: 10px;
  display: block;
}

.index-container-skill-ul-list li a i {
  width: 0px;
  height: 10px;
  display: block;
  background-color: #ffc907;
}

.index-container-skill-ul-list li:first-child a i {
  width: 40px;
}

#index-container-skill-btn {
  background-color: white;
  border: solid 1px #c6c6c6;
  font-size: 20px;
  padding: 5px 20px;
  margin-top: 25px;
  outline: none;
  border-radius: 3px;
  font-size: 0.9em;
  height: 40px;
}
.pppp{
  width: 1200px;
  height: 750px;
  margin: 0 auto;
  /*margin-top: 10px;*/
  /*margin-bottom: 40px;*/
  overflow: hidden;
  position: relative;
  /*background-color: #ffab8e;*/
}
/*.ppp:after{*/
  /*content: '';*/
  /*display: block;*/
  /*clear: both;*/
/*}*/

#index-container-skill-btn:hover {
  border-color: #bfbfbf;
  box-shadow: 0 0 5px #aeaeae;
  /*background-color: #f3dd00;*/
  /*margin-top: 20px;*/
  /*margin-bottom: 5px;*/
}
.index-container-skill-a{
  font-size: 30px;
}
/*.all:before{*/
  /*content: '';*/
  /*width: 100px;*/
  /*height: 100px;*/
  /*background-color: #ffab8e;*/
  /*float: left;*/
  /*z-index: 100;*/
/*}*/
