<div class="row">
  <div class="index-container-skill-div">
    <a class="index-container-skill-a">养宠技巧</a>
    <div class="pppp">
      <ul class="index-container-skill-ul">
        <li routerLink="../skill/detail/{{pid}}" *ngFor="let items of datas" >

          <div  class="all" (click)="getpid(i)" *ngFor="let item of items;let i=index">
            <div class="piv" >
              <i class="fa fa-chevron-right oo"></i>
            </div>
            <img  class="diary_imag_up" src="../../../assets/images/{{item.imag}}" />
            <div class="diary_words_middle">
              {{item.middlewords}}
            </div>
            <div class="diary_words_dowm">
              <span>100</span>个人赞过
            </div>
            </div>
          <!--{{item.id}}-->
        </li>
      </ul>
    </div>
    <!--<ul class="index-container-skill-ul-list">-->
      <!--<li value="0" (click)="change(1)"><a><i></i></a></li>-->
      <!--<li value="1" (click)="change(2)"><a><i></i></a></li>-->
      <!--<li value="2" (click)="change(3)"><a><i></i></a></li>-->
      <!--<li value="3" (click)="change(4)"><a><i></i></a></li>-->
      <!--<li value="4" (click)="change(5)"><a><i></i></a></li>-->
    <!--</ul>-->
    <button id="index-container-skill-btn" routerLink="../skill">查看更多技巧</button>
  </div>
</div><!--领养技巧-->
