.index-container-skill-div {
  clear: both;
  width: 100%;
  height: 1000px;
  background-color: #ffffff;
  padding-top: 25px;
  text-align: center;
  overflow: hidden;
}

.index-container-skill-ul {
  width: 6000px;
  height: 700px;
  position: absolute;
}

.index-container-skill-ul li {
  width: 1200px;
  height: 700px;
  float: left;
  overflow: hidden;
}

.index-container-skill-ul li:first-child {
  width: 1200px;
}

.index-container-skill-ul li div {
  width: 280px;
  height: 306px;
  float: left;
  margin: 10px;
  /*background-color: #2cff47;*/
}
.index-container-skill-ul li .all {
  box-shadow:3px 3px 5px #a2a2a2;
  background-color: white;
}
.index-container-skill-ul li div .diary_imag_up{
  width: 278px;
  height: 200px;
  /*background-color: #ff2846;*/
  margin: 0;
}
.index-container-skill-ul li div .diary_words_middle{
  width: 280px;
  height: 70px;
  margin: 0;
  /*background-color: #ffab8e;*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: left;
  color: #444444;

}
.index-container-skill-ul li div .diary_words_dowm{
  width: 280px;
  height: 35px;
  margin: 0;
  /*background-color: #57f0ff;*/
  text-align: right;
  padding-right: 10px;
  line-height: 35px;
  color: #444444;

}

.index-container-skill-ul-list {
  width: 300px;
  height: 10px;
  margin: 0 auto;
}

.index-container-skill-ul-list li {
  float: left;
  width: 60px;
  height: 10px;
  padding: 0 10px;
}

.index-container-skill-ul-list li a {
  border: solid 1px #ffc907;
  width: 40px;
  height: 10px;
  display: block;
}

.index-container-skill-ul-list li a i {
  width: 0px;
  height: 10px;
  display: block;
  background-color: #ffc907;
}

.index-container-skill-ul-list li:first-child a i {
  width: 40px;
}

#index-container-skill-btn {
  background-color: white;
  border: solid 1px #ffc907;
  font-size: 20px;
  padding: 5px 20px;
  margin-top: 25px;
  outline: none;
}
.pppp{
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}
#index-container-skill-btn:hover {
  border-color: #ffc907;
  box-shadow: 0 0 20px #ffc907;
  /*margin-top: 20px;*/
  /*margin-bottom: 5px;*/
}
