.searchPet{
  margin: 60px  0px 40px 5%;
  padding-left: 40px;

}
.withd{
  width: 1200px;
  margin: auto;
  /*height: 900px;*/
  /*background-color: #990000;*/

}
.with{
  /*background-color: #ee6224;*/
  margin:0 auto;
  width:1020px;

}
.left {
  width: 595px;
  float: left;
margin-left: 15px;
  /*background-color: #0d3349;*/
}

.right {
  /*background-color: #00ee00;*/
  width: 400px;
  float: left;

}


.left li {
  margin: 3px;
}

.aa {
  margin: 3px;

}

.left li, .right li {
  position: relative;
  float: left;
  /*background-color: rgba(163, 47, 255, 0.81);*/
}

.title {
  position: absolute;
  bottom: 5px;
  margin-left: 5px;
  color: white;
  font-size:20px;
}
.stil{
  font-size: 20px;
}
.psize{
  font-size: 14px;
}

.item a:hover .title {
  display: none;
}

.item a img:hover {
  transform: scale(1.2);
  transition: transform 2s;
}

.item {
  overflow: hidden;
}

.mask {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1em;
  color: white;
  position: absolute;
  bottom: 0px;
  padding: -10px;
}


