<div class="container-fluid">
  <div class="row">
    <div class="withd">
      <h1 class="searchPet">萌宠推荐</h1>
      <div class="with ">
<!--萌宠推荐版块左边----------------------------------------------->
      <div class="left">
        <ul>
          <li class="item " (mouseover)="toggleState(i)" (mouseout)="toggleState(i)"
              *ngFor="let item of showpet;let i =index" routerLink="detail/id">

            <ng-container *ngIf="i<6">
              <a target="_blank">
                <img width="{{item.width}}" height="{{item.height}}" src="{{item.img}}">
                <p class="title"><span>{{item.title}}</span></p>
                <div class="mask word-2" [@divState]="showpet[i].state">
                  <p class="stil"><span>{{item.title}}</span></p>
                  <p class="psize"><em class="fontYaHei">{{item.title}}</em><span class="texts fontYaHei">{{item.word}}</span></p>
                </div>
              </a>
            </ng-container>
          </li>
        </ul>
      </div>

        <!--萌宠推荐版块右边------------------------------------------------------->
      <div class="right">
        <ul>
          <li class="item " routerLink="detail/id" (mouseover)="toggleState(i)" (mouseout)="toggleState(i)" *ngFor="let item of showpet;let i =index" >
            <div class="aa" *ngIf="i>5">
              <a target="_blank">
                <img width="{{item.width}}" height="{{item.height}}" src="{{item.img}}">
                <p class="title"><span>{{item.title}}</span></p>
                <div class="mask" [@divState]="showpet[i].state">
                  <p class="stil"><span>{{item.title}}</span></p>
                  <p class="psize"><em class="fontYaHei">{{item.title}}</em><span class="texts fontYaHei">{{item.word}}</span></p>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>


