<div class="aa">

    <div class="listwith">


      <div class="main" routerLink="./detail/id">
        <div *ngFor="let item of data;let i=index" class="listpet ">
          <div class="petlft">
            <img class="img" src="{{item.img}}" alt="">
          </div>
          <div class="petrig">
            <h4>{{item.frist}}</h4>
            <p>用户名：{{item.name}}</p>
            <p>品种：{{item.Ename}}</p>
            <p>类型：{{item.from}}</p>
            <p>功能：{{item.special}}</p>
          </div>
        </div>
      </div>

    </div>

    <div class="right"><a routerLink="list">查看更多</a></div>
</div>
