
.searchPet{
  margin: 10px 0px 0px 0;

}
.aa{
  /*background-color: #eec496;*/
}
.listwith{
  margin:0 auto;
  width: 980px;
  /*background-color: #5bff1d;*/
}
.h1{
  color: #444444;
}

.listpet{
  width: 310px;
  border-radius: 8px;
  background-color: #ffffff;
  float: left;
  /*margin: 24px 0 0 24px;*/
  margin: 15px 0px;
  margin-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #c8c8c8
}
.details-link{
  width: 100%;
  /*height: 328px;*/

}
.petlft{
  /*width: 48%;*/
  /*float: left;*/
  height: 202px;
  overflow: hidden;

}
.img{
  width: 100%;
  height: 100%;
}
.petrig{
  padding: 10px 30px 20px 30px;
  box-sizing: border-box;
  height: 90px;
}
h4{
  color: #444444;
  line-height: 30px;
}
.petrig p {
  font-size: 12px;
  margin-top: 20px;
  color: #9ca3b1;
}
.font-left{
  float:left;
}

.font-right{
  float: right;
}

.right{
 width: 100px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px #c6c6c6;
  margin:20px auto;
  clear: both;
  line-height: 50px;
  text-align: center;
}


.main{
  width: 990px;
  height: 700px;
  margin:  0 auto;
  /*background-color: white;*/
}
