.big{
  width: 1200px;
  height: 900px;
  background-color: #dcddff;
  margin: 0 auto;
}
.big:after{
  content: '';
  clear: both;
  display: block ;
}
.mbig{
  width: 700px;
  height: 700px;
  background-color: #ffd1ca;
  margin: 0 auto;
  padding-top: 50px;
  box-sizing: border-box ;
}
.title{
  margin-left: 20px;
  font-size:16px;
}
.sp1{
  width: 85px;
  height: 30px;
  background-color: #d7dfff;
  display: inline-block;
  text-align: right;
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 40px;
}
p{
  background-color: #d8ffab;
}
.area{
  width: 550px;
height: 270px;
}
.sp0{

}
