.max{
  width: 100%;
  background-color:white;
}
.big{
  width: 1200px;
  height: 900px;
  /*background-color: #dcddff;*/
  margin: 0 auto;
  position: relative;
}
.big:after{
  content: '';
  clear: both;
  display: block ;
}
.mbig{
  width: 700px;
  height: 700px;
  /*background-color: #ffd1ca;*/
  margin: 0 auto;
  padding-top: 50px;
  box-sizing: border-box ;
}
.title{
  margin:0px 0px 30px 20px;
  font-size:16px;
  font-weight: 600;
}
.sp1{
  width: 85px;
  height: 30px;
  /*background-color: #d7dfff;*/
  display: inline-block;
  text-align: right;
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 40px;
  color: #9ca3b1;
}
p{
  /*background-color: #d8ffab;*/
}
.col{
  color: #fa862a;
}
.area{
  width: 550px;
height: 270px;
}

.add1{
  margin-right: 20px;
  width: 200px;
  height: 35px;
  border-radius: 5%;
  border: 1px solid #e0e0e0;
}
.last{
width: 256px;
  height: 40px;
  background-color: #fa862a;
  border-radius: 5%;
  font-weight: 600;
  color: white ;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  margin-left: 130px;
}
.bianji{
  position: absolute ;
  left: 380px;
  top: 280px;;
  min-width: 540px;
}
.tuch{
  margin: 90px  0 30px  20px  ;
  font-size: 16px;
  font-weight: 600;
}
.tex,.til{
  width: 258px;
  height: 35px;
border: 1px solid #e0e0e0;
  border-radius: 5%;
}
.til{
  width:550px;

}
