<app-header>

</app-header>
<div class="max">
  <div class="big">
    <div class="mbig">
      <p class="title">基础信息</p>
      <form action="">
        <p>
          <span class="sp1"><span class="col">*</span>供求</span>
          <input type="radio" name="give" id="give1"/>赠送
          <input type="radio" name="give" id="give2"/>领养
        </p>
        <p>
          <span class="sp1"><span class="col">*</span>宠物年龄</span>
          <input type="text" id="age" class="add1">
        </p>
        <p>
          <span class="sp1"><span class="col">*</span>标题</span>
          <input type="text" id="detail" class="til">
        </p>
        <p class="psp1">
          <span class="sp1 psp1">上传图片</span>

        </p>
        <div class="pbig">
          <div class="fil">
            <input type="file"
                  class="fil2" placeholder="Upload file"
                   ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" multiple>
          </div>
          <div class="pic3">
            <div class="pic4">上传电脑中图片</div>
            <div class="camera">
              <img src="../../assets/images/camera.png" alt="">
              <p class="carm">选择电脑图片上传</p>
            </div>
          </div>
        </div>
        <p>
          <span class="sp1">详细地址</span>
          <select class="add1" name="" id="add1" (change)="pro($event)">
            <option value="">请选择省</option>
            <option [value]="i" *ngFor="let item of data;let i=index">{{item.provice.province}}</option>
          </select>
          <select class="add1" name="" id="add2" (change)="_choose($event)">
            <option value="">请选择市</option>
            <option [value]="j" *ngFor="let item of cit;let j=index">{{item.city}}</option>
          </select>
        </p>
        <p>
          <span class="sp1">联系人</span>
          <input type="text" id="att" class="tex">
        </p>
        <p>
          <span class="sp1">联系电话</span>
          <input type="text" id="tel" class="tex">
        </p>
        <p>
          <span class="sp1 sp0"><span class="col">*</span>详细说明</span>
        </p>
        <div class="bianji">
          <blog-froala (froala)="froalaContent($event)"></blog-froala>
        </div>
        <div class="last">发布</div>
      </form>
    </div>
  </div>
</div>
<!--<app-protected></app-protected>-->
