<app-header>

</app-header>
<div class="big">
  <div class="mbig">
    <p class="title">基础信息</p>
    <form action="">
      <p>
        <span class="sp1">*供求</span>
      <input type="radio" name="give1" id="give1"/>
      <label for="give1"><span>赠送</span></label>
      <input type="radio" name="give2" id="give2"/>
      <label for="give2"><span>领养</span></label>
      </p>

      <p>
      <span class="sp1" >*标题</span>
      <input type="text" id="title">
      </p>


      <p>
        <span class="sp1" >*标题</span>
        <input type="text" id="detail">
      </p>


      <p>
        <span class="sp1 sp0" >*详细说明</span>
       <textarea class="area" ></textarea >
      </p>

      <p>
        <span class="sp1" >上传图片</span>
        <input type="text" id="pic">
      </p>
      <p></p>
    </form>
  </div>
</div>
