<div class="background_imag">
  <div class="main">
    <div class="back">
      <div class="up">
        <div class="right_left">
          <div class="left">
            <ul class="head_imags">
              <li>
                <div>
                  <img class="people_imag" src="../../../assets/diary-images/头像3.jpg"/>
                </div>
                <div class="img_line"></div>
              </li>
              <li class="pet_imag_div">
                <div class="pet_imag1">
                  <img class="pet_imag" src="../../../assets/images/狗狗.png"/>
                </div>
                <div class="img_line"></div>
              </li>
            </ul>
            <div class="name">
              <p class="pet_name">狗狗昵称</p>
              <span>贵宾</span> <span>0</span>月
            </div>
          </div>
        </div>
        <div class="right_right">
          <div class="right_right1">
            日志
          </div>
          <div class="right_right2">
            <div class="detail1">
              <ul class="diary_info">
                <li>已经记录了</li>
                <li><span>0</span> 天</li>
                <li><span>0</span> 篇</li>
              </ul>
              <div class="fabu">
                发布
              </div>
            </div>
            <div class="detail2">

            </div>

            <div class="right_right3">
              <div class="right_right3_one">
                <span class="send_diary">发日志</span>
                <span class="total">添加日志名称：</span>
                <ul>
                  <li>2017年9月22日</li>
                  <li>星期五</li>
                  <li>10：43</li>
                </ul>
              </div>
              <div class="photo">
                <img src="../../../assets/images/pic.png" height="20" width="20"/>
              </div>
              <div class="diary_detail">
                <input class="diary_title1" type="text">
                <div class="queding">
                  确定
                </div>
              </div>
            </div>
            <div class="upload_photo">
              <input class="file" type="file"/>
            </div>
            <!--<div class="empty"></div>-->
          </div>
        </div>
      </div>
      <div class="dowm">
        <div class="object">
          日志内容：
        </div>
        <textarea class="message" name="" id=""></textarea>
        <div class="fabiao">
          发表
        </div>
        <br>
        <!--<div class="liuyan_detail"></div>-->
      </div>
    </div>
  </div>
</div>

