<div class="background_imag">
  <div class="main">
    <div class="back">
      <div class="up">
        <div class="right_left">
          <div class="left">
            <ul class="head_imags">
              <li ><div class="people_imag"></div>
                <div class="img_line"></div></li>
              <li class="pet_imag_div">
                <div class="pet_imag"></div>
                <div class="img_line"></div>
              </li>
            </ul>
            <div class="name">
              <p class="pet_name">狗狗昵称</p>
              <span>贵宾</span>  <span>0</span>月
            </div>
          </div>
        </div>
        <div class="right_right">
          <div class="right_right1">
            日志
          </div>
          <div class="right_right2">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
