.background_imag{
  width: 100%;
  background: url("../../../assets/images/bj2.png");
  /*background: no-repeat;*/
}
.main{
  width: 1200px;
  /*height: 1000px;*/
  margin: 0 auto;
  /*background-color: #ffab8e;*/
}
.main:after{
  content: '';
  display: block;
  clear: both;

}
.back {
  width: 1000px;
  /*height: 1000px;*/
  margin: 0 auto;
  padding-top: 180px;
  box-sizing: border-box;
  /*background-color: #9ca3b1;*/
}
.left{
  width: 250px;
  height: 400px;
  padding-top: 50px;
  padding-left: 30px;

  /*float: left;*/
  background-color: #d6d6d6;

}
.head_imags{
  height: 300px;
  margin-top: -200px;
}
.people_imag{
  width: 120px;
  height: 120px;
  border-radius: 180px;
  border: solid 5px white;
  box-sizing: border-box;
}
.img_line{
  width: 60px;
  height: 60px;
  /*background-color: black;*/
  border-right: solid 5px white;
  box-sizing: border-box;
}
.pet_imag_div{
  width: 120px;
  /*height: 80px;*/
  /*background-color: #f3dd00;*/

}
.pet_imag{
  width: 80px;
  height: 80px;
  border: solid 5px white;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 180px;
}
.pet_imag1{
  width: 80px;
  height: 80px;
  /*border: solid 5px white;*/
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 180px;
}

.up{
  width: 1000px;
  height: 400px;
  /*background-color: #ff4502;*/
  /*margin-top: -600px;*/
  /*float: left;*/
}
.up:after{
  content: '';
  display: block;
  clear: both;

}
.right_left{
  width: 250px;
  height: 400px;
  /*background-color: #ff2846;*/
  float: left;

}
.right_right{
  width: 750px;
  height: 400px;
  background-color: white;
  float: right;

}
.name{
  cursor: default;
  width: 100px;
  height: 80px;
  /*background-color: #f3dd00;*/
  margin-left: 120px;
  margin-top: -100px;
}
.pet_name{
  cursor: default;
  font-size: 1.2em;
  color: #444444;
  font-weight: 600;
}
.right_right1{
  cursor: default;
  width: 750px;
  height: 60px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: white;
  font-size: 1.2em;
}
.right_right2{
  width: 746px;
  height: 60px;
  background-color: #eaeaea;
  border-right:solid 1px #62dfff;
  padding-right: 5px;

}
.diary_info{
  width: 300px;
  height: 60px;
  line-height: 60px;
  margin-left: 15px;
  float: left;
  cursor: none;
}
.diary_info li{
  margin-left: 10px;
  float: left;
  color: #444444;
}
.diary_info span{
  color: #79bcff;
  font-size: 1.5em;
  font-weight: 600;
}
.fabu{
  width: 80px;
  height: 40px;
  background-color: #ff5353;
  float: right;
  margin-top: 10px;
  color: white;
  font-size: 1.3em;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.right_right3{
  width: 746px;
  height: 165px;
  background-color: #434c54;
  color: white;
  position: relative;

}
.right_right3:after{
  content: '';
  display: block;
  clear: both;
  width: 10px;
  height: 10px;
  background-color: #434c54;
  position: absolute;
  left: 700px;
  top: -5px;
  transform:rotate(45deg)

}
.detail1{
  width: 746px;
  height: 55px;
  border-bottom: solid 1px white;
}
.detail2{
  width: 746px;
  height: 10px;
  background-color: #eaeaea;
}
.right_right3_one{
  width: 100%;
  height: 50px;

  /*background-color: white;*/
  line-height: 50px;
  padding-left: 20px;
}
.send_diary{
  font-size: 1.2em;
  float: left;
  cursor: default;
}
.total{
  margin-left: 20px;
  float: left;
  cursor: default;
}
.right_right3_one ul{
  float: right;
  cursor: default;
  margin-right: 20px;
}

.right_right3_one ul li{
  float: left;
  margin-left: 5px;
}
.photo{
  width: 90px;
  height: 90px;
  border: dashed 3px #9c92ff;
  margin-left: 20px;
  float: left;
  margin-top: 5px;
  padding-left: 30px;
  padding-top: 30px;
  /*background-color: #62dfff;*/
}
.diary_detail{
  width: 600px;
  height: 100px;
  /*background-color: #5baaff;*/
  float: left;
  margin-left: 20px;
}
.diary_title1{
  width: 100%;
  height: 50px;
  background-color: white;
  /*margin-top: 35px;*/
  color: black;
}
.dowm{
  width: 100%;
  /*height: 350px;*/
  background-color: white;
  margin-top: 20px;
}
.object{
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-top: 20px;
  color: #444444;
  font-size: 1.1em;

}
.message{
  width: 960px;
  height: 150px;
  /*border: 1px solid #a1a1a1;*/
  /*background-color: #bdbdbd;*/
  margin-left: 20px;
}
.fabiao{
  width: 100px;
  height: 40px;
  background-color: #7fd451;
  margin-left: 20px;
  color: white;
  font-size: 1.2em;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  cursor: pointer;
}
.queding{
  width: 100px;
  height: 35px;
  background-color: #7fd451;
  color: white;
  font-size: 1.2em;
  text-align: center;
  line-height: 35px;
  margin-top: 10px;
  margin-left: 500px;
  cursor: pointer;
}
.liuyan{
  height: 40px;
  /*background-color: #62dfff;*/
  color: #444444;
  padding-left: 20px;
  padding-top: 10px;

}
.liuyan_detail{
  width: 960px;
  height: 60px;
  /*background-color: #9ca3b1;*/
  margin-left: 20px;
}
.file{
  width: 90px;
  height: 90px;
  background-color: #2cff47;
  float: left;
  margin-left: 20px;
  margin-top: -110px;
  position: relative;
  z-index: 100;
  opacity: 0;
}
/*.empty{*/
  /*width: 90px;*/
  /*height: 90px;*/
  /*background-color: #ffab8e;*/
  /*float: left;*/
/*}*/
