  <div class="main">
    <div class="top">
      <div class="title">
        <p>南京市玄武区后酬谢五千寻找泰迪</p>
      </div>
      <div class="count">
        <div class="count_left">
          <p class="count_cat">收藏数</p>
          <p>217</p>
        </div>
        <div class="count_right">
          <p class="count_cat">浏览数</p>
          <p>295217</p>
        </div>
      </div>
      <div class="text">
          <span>
          ewrwertwetgweryrtyuertyertyr3tewrwertwetgweryrtyuertyertyr3tewrwertwetgweryrtyuertyertyr3tewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t
          ewrwertwetgweryrtyuertyertyr3t</span>

        <a class="showAll"> 显示全部<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="middle">
      <div class="left">

      </div>
      <div class="right">

      </div>
    </div>


  </div>

