
.main {
  width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  cursor: default;
  padding-bottom: 30px;
}

.top {
  width: 100%;
  background-color: white;
  box-shadow: 2px 1px 5px #888888;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.left {
  width: 830px;
  float: left;
}

.left::after {
  clear: both;
  content: ' ';
}

.right {
  position: absolute;
  right: 0;
  z-index: 50;
  top: 0px;
}

.title {
  width: 900px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  float: left;
}

.count {
  width: 200px;
  height: 60px;
  float: right;
  text-align: center;
}

.count_left {
  width: 50%;
  box-sizing: border-box;
  height: 60px;
  border-right: solid 1px #d7d7d7;
  float: left;
}

.count p {
  margin: 0;
  line-height: 30px;
}

.text {
  width: 800px;
  overflow: hidden;
  padding-bottom: 20px;
  float: left;
}

.dn {
  display: none;
}

.count_cat {
  color: #ababab;
}

.middle {
  width: 100%;
  position: relative;
}

.middle:after {
  /* 必须设置一个空的congtent,否则不起作用  */
  content: "";
  /* 转换成块元素  */
  display: block;
  clear: both;
}

.showAll {
  clear: both;
  color: #ababab;
  text-align: center;
  width: 800px;
}

.info {
  box-shadow: 2px 1px 5px #888888;
  background-color: white;
  width: 350px;
  overflow: hidden;
}

.info_top {
  width: 100%;
  font-size: 18px;
  line-height: 50px;
  border-bottom: solid 1px #ababab;
  padding-left: 15px;
}

.info_user {
  width: 320px;
  height: 100px;
  margin: 0 15px;
  border-bottom: solid 1px #ababab;
  padding-top: 15px;
}

.info_user img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  float: left;
}

.info_user_info {
  width: 250px;
  height: 70px;
  float: right;
  padding-left: 15px;
}

.info_user_info a {
  font-size: 18px;
  line-height: 40px;
}

.info_count {
  clear: both;
  width: 100%;
  height: 100px;
  padding-top: 20px;
}

.info_count li {
  width: 70px;
  height: 70px;
  float: left;
  margin-left: 30px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
}

.info_count li a {
  color: #ababab;
}

.collection_btn, .review_btn {
  width: 120px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.collection_btn {
  float: left;
  margin-left: 15px;
  background-color: #ffc907;
  border: none;
  color: white;
}

.review_btn {
  float: right;
  margin-right: 15px;
  background-color: white;
  border: solid 1px #ffc907;
  color: #ffc907;
}

.message_btn, .follow_btn {
  width: 120px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;

}

.follow_btn {
  float: left;
  margin-left: 30px;
  background-color: #ffc907;
  border: none;
  color: white;
}

.message_btn {
  float: right;
  margin-right: 30px;
  background-color: white;
  border: solid 1px #ababab;
  color: #ababab;
}

.list {
  width: 100%;
  padding-left: 30px;
  padding-top: 15px;
  background-color: white;
  padding-bottom: 15px;
  box-shadow: 2px 1px 5px #888888;
  clear: both;
  margin-bottom: 15px;
  overflow: hidden;
}

.headimg {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.username {
  font-size: 20px;
  padding-left: 30px;
}

.review_text {
  width: 100%;
  margin-top: 15px;
}

.bottom {
  width: 100%;
  height: 35px;
  margin-top: 15px;
}

.bottom a {
  padding: 0 15px;
  color: #777777;
}

.time {
  padding-right: 15px;
  text-align: right;
  color: #777777;
  float: right;
}

.report {
  width: 150px;
  height: 60px;
  margin-right: 15px;
  float: right;
  text-align: center;
  line-height: 60px;

}

.report a {
  color: #777777;
}

.page_out {
  height: 30px;
  width: 800px;
  line-height: 30px;
  max-width: 800px;
  text-align: center;
  margin-top: 30px;
}

.page_out:hover {
  cursor: default;
}

.page_tag {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 8px;
  border-radius: 100%;

}

.page_tag:hover {
  background-color: #d0d0d0;
}

.page_tag_active {
  background-color: #a1a1a1;
}

.page_btn_enable {
  color: #d0d0d0 !important;
}

.first,
.end,
.next,
.prev {
  padding: 0 10px;
  color: #6a6a6a;
}

.aaa {
  width: 300px;
  height: 30px;
  float: right;
  text-align: center;
  position: relative;
  bottom: 35px;
}

.showAll_report {
  float: left;
  background-color: white;
  border: none;
  outline: none;
}

.showAll_time {
  float: right;
  background-color: white;
  border: none;
  outline: none;
}

button {
  outline: none;
}

.review_review {
  width: 95%;
  margin: 0 auto;
}

.review_review img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.review_review_list {
  width: 100%;
  margin: 10px auto;
  overflow: -webkit-paged-y;
}

.review_review_list:after {
  display: block;
  content: '';
  clear: both;
}

.contai:after {
  display: block;
  content: '';
  clear: both;
}

.count1:after {
  display: block;
  content: '';
  clear: both;
}

.review_input:after {
  display: block;
  content: '';
  clear: both;
}

.review_input:before {
  display: block;
  content: '';
  clear: both;
}

.padd {
  padding-left: 30px;
}

.reviewname {
  color: #d1b034;
  font-weight: bolder;
}

.count1 {
  float: right;
  height: 30px;
  width: 250px;
  text-align: right;
}

.count1 a {
  color: #777777;
  padding: 0 5px;
}

.review_input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
}

.review_input input {
  outline: none;
  box-sizing: border-box;
  width: 80%;
  height: 30px;
  border: solid 1px #ffc907;
  border-radius: 10px;
}

.btn_review {
  width: 60px;
  height: 30px;
  border: none;
  background-color: #ffc907;
  margin-left: -60px;
}
