<div class="main">
  <div class="top">
    <div class="title">
      <p>{{article?.title}}</p>
    </div>
    <div class="count">
      <div class="count_left">
        <p class="count_cat">收藏数</p>
        <p>{{article?.collectcount}}</p>
      </div>
      <div class="count_right">
        <p class="count_cat">浏览数</p>
        <p>{{article?.viewcount}}</p>
      </div>
    </div>
    <div class="text" *ngIf="article?.content">
      <span [class.dn]="showAllFlag">{{article?.content|numberPipe:200}}</span>
      <span [class.dn]="!showAllFlag">{{article?.content}}</span>
    </div>
    <div class="showAll">
      <button class="showAll_report"><i class="fa fa-flag" aria-hidden="true"></i> 举报</button>
      <button class="showAll_time"> {{article?.time|date:'yyyy-MM-dd'}}</button>
      <a [class.dn]="showAllFlag" (click)="showall()">显示全部 <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
      <a [class.dn]="!showAllFlag" (click)="showall()">收起 <i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    </div>
    <div class="aaa">
      <button *ngIf="!article?.colloctstate" (click)="collect()" class="collection_btn"><i class="fa fa-star"
                                                                                           aria-hidden="true"></i>收藏
      </button>
      <button *ngIf="article?.colloctstate" (click)="collect()" class="collection_btn"><i class="fa fa-star"
                                                                                          aria-hidden="true"></i>已收藏
      </button>
      <button (click)="reviewshow()" class="review_btn"><i class="fa fa-pencil" aria-hidden="true"></i> 写评论</button>
    </div>
    <div class="review_input" *ngIf="reviewstate===true">
      <input type="text" placeholder="回复:{{article?.Author?.nickname}}" [(ngModel)]="rereview">
      <button class="btn_review" (click)="review()">评论</button>
    </div>
  </div>
  <div class="middle">
    <div class="left">
      <div class="list" *ngFor="let item of reviewData;let i= index">
        <img class="headimg" src="{{_uploadUrl}}{{item?.headimg|headimg}}">
        <span class="username"><b>{{item?.nickname}}</b></span>
        <div class="review_text">
          {{item?.content|numberPipe:50}}
        </div>

        <div class="review_review">
          <div [class.padd]="list?.fatherID!=item?.reviewID" class="review_review_list" *ngFor="let list of item?.childReview;let j=index">
            <img src="{{_uploadUrl}}{{list?.headimg|headimg}}" alt="" width="60px" height="60px">
            <span *ngIf="list?.fatherID!=item?.reviewID">
              <a class="reviewname">{{list?.nickname}}</a> 回复 <a class="reviewname">{{list?.fathernickname}}</a>
            </span>
            <span *ngIf="list?.fatherID==item?.reviewID">
              <a class="reviewname">{{list?.nickname}}</a> :
            </span>
            <span>{{list?.content}}</span>
            <div class="count1">
              <a> {{list?.time|date:'yyyy-MM-dd hh:mm:ss'}}</a>
              <a (click)="reviewlike(i,j)">
                <i *ngIf="!list?.likestate" class="fa fa-thumbs-o-up " aria-hidden="true"></i>
                <i *ngIf="list?.likestate" class="fa fa-thumbs-up " aria-hidden="true"></i>
                <span>{{list?.likecount}}</span>
              </a>
              <a (click)="reviewshow(i,j)">回复他</a>
            </div>
            <div class="review_input" *ngIf="list?.reviewstate==true">
              <input type="text" placeholder="回复:{{list?.nickname}}" [(ngModel)]="list.rereview">
              <button class="btn_review" (click)="review(i,j)">评论</button>
            </div>
          </div>
        </div>

        <div class="bottom">
          <a (click)="reviewshow(i)">
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span>{{item?.reviewcount}}</span><span>条回复 </span>
          </a>
          <a (click)="reviewlike(i)">
            <i *ngIf="!item?.likestate" class="fa fa-thumbs-o-up " aria-hidden="true"></i>
            <i *ngIf="item?.likestate" class="fa fa-thumbs-up " aria-hidden="true"></i>
            <span>{{item?.likecount}}</span><span>次点赞 </span>
          </a>
          <a>
            <i class="fa fa-flag " aria-hidden="true"></i>
            <span>举报 </span>
          </a>
          <span class="time"> <b>评论于 {{item?.time|date:'yyyy-MM-dd'}}</b></span>
        </div>
        <div class="review_input" *ngIf="item?.reviewstate==true">
          <input type="text" placeholder="回复:{{item?.nickname}}" [(ngModel)]="item.rereview">
          <button class="btn_review" (click)="review(i)">评论</button>
        </div>

      </div>
      <div class="page_out">
        <a class="first " [class.page_btn_enable]="pageNumber==1" (click)="changePageNumber(1)">首页</a>
        <a class="prev" [class.page_btn_enable]="pageNumber==1" (click)="changePageNumber(pageNumber-1)">上一页</a>
        <a class="page_tag"
           *ngFor="let page of pageList;"
           (click)="changePageNumber(page)" [class.page_tag_active]="page==pageNumber">{{page}}</a>
        <a class="next" [class.page_btn_enable]="pageNumber==list_data.totalPage"
           (click)="changePageNumber(pageNumber+1)">下一页</a>
        <a class="end" [class.page_btn_enable]="pageNumber==list_data.totalPage"
           (click)="changePageNumber(list_data.totalPage)">尾页</a>
      </div>
    </div>

    <!--<div class="right" appMyscroll="480">-->
    <!--<div class="right" id="right" appMyscroll="right">-->
    <div class="right" id="right">
      <div class="info">
        <div class="info_top">
          <a><b>关于作者</b></a>
        </div>
        <div class="info_user">
          <img src="{{_uploadUrl}}{{article?.Author?.headimg}}" alt="">
          <div class="info_user_info">
            <a><b>{{article?.Author?.nickname}}</b></a>
            <p><b>{{article?.Author?.introduce||'暂无资料'}}</b></p>
          </div>
          <div class="info_count">
            <ul>
              <li>
                <a>领养</a>
                <p>{{article?.Author?.adoptcount}}</p>
              </li>
              <li>
                <a>日记</a>
                <p>{{article?.Author?.diarycount}}</p>
              </li>
              <li>
                <a>文章</a>
                <p>{{article?.Author?.communitycount}}</p>
              </li>
            </ul>
          </div>
          <!--<button class="follow_btn"><i class="fa fa-plus" aria-hidden="true"></i> 关注他</button>-->
          <!--<button class="message_btn"><i class="fa fa-comments" aria-hidden="true"></i>发私信</button>-->
        </div>
      </div>
    </div>
  </div>


</div>
