.main{
  width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}
.top{
  width: 100%;
  background-color: white;
  box-shadow: 2px 1px 5px #888888;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}
.left{
  background-color: white;
  height: 300px;
  width: 800px;
  float: left;
  box-shadow: 2px 1px 5px #888888;
}
.right{
  background-color: white;
  height: 300px;
  width: 350px;
  float: right;
  box-shadow: 2px 1px 5px #888888;
}
.title{
  width: 900px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  float: left;
}
.count{
  width: 200px;
  height: 60px;
  float: right;
  text-align: center;
}
.count_left{
  width: 50%;
  box-sizing: border-box;
  height: 60px;
  border-right: solid 1px #d7d7d7;
  float: left;
}
.count p{
  margin: 0;
  line-height: 30px;
}
.text{
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
}
.count_cat{
  color: #ababab;
}
.middle{
  width: 100%;
  background-color: red;
  height: 500px;
}
.showAll{
  color: #ababab;
  margin-left: 30px;
}
