<div style="">
  <div class="index_adv">
    <ul class="index_adv_item">
      <li *ngFor="let item of items;let i=index;" [@flyInOut]='items[i].state'>
      <a>
        <img src="../../../assets/images/{{item.img}}" alt="">
      </a>
      </li>
      <!--<img class="op" src="../../../assets/images/adv1.png" alt="">-->
    </ul>

    <ul class="index_adv_list">
      <li *ngFor="let item of items"><a></a></li>
    </ul>
    <ul class="index_adv_btn">
      <li class="index_adv_btn_left" (click)="toLeft()"><a><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
      <li class="index_adv_btn_right" (click)="toRight()"><a><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</div>
