.ooo{
  width: 100%;
  height: 1200px;
  background-color: white;
  overflow: hidden;
}
.aaa{
  margin: 0 auto;
  width: 1075px;
}
.container_2{
  width: 1200px;
  /*height: 1200px;*/
  margin: 0 auto;
  /*background-color: #999999;*/


}
.left{
   margin-top: 60px;
   width:695px;
   /*height: 1000px;*/
   float: left;
 }
.left:after{
  content: '';
  display: block;
  clear: both;
}
.right{
  width: 330px;
  /*height: 500px;*/
  margin-top: 60px;
  margin-left: 50px;
  float: left;
}
.detail-1{
  width: 100%;
  /*height: 200px;*/
  /*background-color:white;*/
  float: left;
  padding-top: 0px;
  position: relative;
}
.imag{
  width: 50px;
  height: 50px;
  float: left;
  background-color: #f3dd00;
  border-radius: 180px;

}
.username{
  float: left;
  font-size: 1.1em;
  padding-top: 15px;
  margin-left: 5px;
}
.info1{


  margin-left: -27px;
  padding: 0;

}
.info2{
  margin-left: -20px;
  overflow: hidden;
}
ul{
  list-style: none;

}
.ul-1 li{
  float: left;
  padding-top: 15px;
  margin-left: 8px;

}
.ul-2 li{
  /*font-size: 0.9em;*/
  float: left;
  margin-left:20px;
  padding-top: 15px;
}
#dianzan{

  padding-top:15px;
}


.detail-1-1{
  width: 100%;

}
.detail-1-2{
  width: 100%;
  float: left;
  /*background-color: #999999;*/
  margin-top: 20px;
  margin-left: 28px;
  border-left: 2px solid #6666;
  /*height: 110px;*/
  width: 667px;
  z-index: 100;

}
.left_word_name{
  color: #444444;
  font-size: 1.1em;
  font-weight: 600;
}
.left_word_name a:hover{
  color: #444444;
}
.right_imag{
  width: 160px;
  height: 110px;
  float: left;
  margin-left: 30px;
  /*background-color: #797979;*/
}
.line{
  height: 130px;
  width: 20px;
  border-left: 2px solid rgba(175, 175, 175, 0.4);
  position: absolute;
  top: 50px;
  left: 25px;
}


.guanggao_1{
  width: 330px;
  height: 450px;
  /*background-color: #999999;*/
  border: 1px solid #CCCCCC;
}
.guanggao_2{
  width: 330px;
  height: 150px;
  /*background-color: #999999;*/
  border: 1px solid #CCCCCC;
  margin-top: 20px;

}
.guanggao_3{
  width: 330px;
  height: 150px;
  border: 1px solid #CCCCCC;
  /*background-color: #999999;*/
  margin-top: 20px;

}
.left_word{
  width: 390px;
  height: 110px;
  float: left;
  margin-left: 30px;
  overflow: hidden;
}
.left_word_info{
  margin-top: 15px;
  height:50px;
  overflow: hidden;
  cursor: pointer;
}
.page{
  width: 100%;
  float: left;
  margin-top: 80px;
}
.paging{
  color: #444444;
  margin-left: 70px;
}
.paging li{
  float: left;
  margin-left: 5px;
  width: 30px;
  height: 25px;
  border: solid 1px #9ca3b1;
  text-align: center;
  line-height: 25px;
}
#persent{
  width: 100px;
  height: 25px;
  border: solid 1px #9ca3b1;
}
#next{
  width: 50px;
  height: 25px;
  border: solid 1px #9ca3b1;
}
#last{
  width: 65px;
  height: 25px;
  border: solid 1px #9ca3b1;
}
.page_out {
  height: 30px;
  width: 100%;
  line-height: 30px;
  max-width: 800px;
  text-align: center;
  float: left;
  margin-top: 30px;
}
.page_out:hover{
  cursor: default;
}
.page_tag {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 8px;
  border-radius: 100%;
}

.page_tag:hover {
  background-color: #d0d0d0;
}
.page_tag_active{
  background-color: #a1a1a1;
}
.page_btn_enable{
  color: #d0d0d0 !important;
}
.first,
.end,
.next,
.prev {
  padding: 0 10px;
  color: #6a6a6a;
}
