<div class="bb">
<div class="big">


  <div class="top" >
<!--轮播块————————————————————————-->
    <div class="left">
      <div class="bpic">
        <img class="bpic" src="{{data.carousel[id].img}}" alt="">
      </div>
      <div class="spic">
        <ul><li class="pics"(mouseover)="carousel(i)"  (click)="carousel(i)"  *ngFor="let item of data.carousel;let i=index">
          <img class="picss" src="{{item.img}}" alt="">
        </li></ul>
      </div>
    </div>
<!--详情块————————————————————————————-->
    <div class="right" *ngFor="let item of data.details;let i=index">
      <div >
        <p class="title">{{item.title}} </p>
        <div class="goodsprice">
          <p class="span4"><span class="span0">人&nbsp;&nbsp;&nbsp;气&nbsp;&nbsp;&nbsp;&nbsp;：</span><span class="span3">{{item.popularity}}</span></p>

          <p class="span4"><span class="span0">卖家承诺：</span><span class="span3">{{item.host}}</span></p>
        </div>
        <div class="goodsinfo">
          <p>
           <span class="span1"> 狗狗品种：</span><span>{{item.breed}}</span>
          </p>
          <p>
         <span class="span1"> 有&nbsp;&nbsp;效&nbsp;&nbsp;期：</span><span>{{item.validity}}</span>
        </p>
          <p>
            <span class="span1">狗狗性别：</span> <span>{{item.sex}}</span>
          </p>
          <p>
           <span class="span1"> 联&nbsp;&nbsp;系&nbsp;人：</span><span>{{item.contact}}</span>
          </p>
          <p>
            <span class="span1">疫苗情况：</span><span>{{item.vaccine}}</span>
          </p>
          <p>
            <span class="span1">所在地区：</span><span>{{item.location}}</span>
          </p>
          <p>
            <span class="span1">狗狗年龄：</span><span>{{item.age}}</span>
          </p>
          <p>
           <span class="span1">联系电话：</span> <span>{{item.tel}}</span>
          </p>
          <p>
            <span class="span1">驱虫情况：</span><span>{{item.worm}}</span>
          </p>
          <p>
           <span class="span1">微信账号：</span> <span>{{item.weixin}}</span>
          </p>
          <p>
          <span class="span1">能否视频：</span><span>{{item.video}}</span>
          </p>
          <p>
          <span class="span1">QQ账号&nbsp;：</span><span>{{item.QQ}}</span>
          </p>

        </div>
      </div>
      <div class="btn">立即收养</div>
      <div class="btn2">在线联系</div>
    </div>

  </div>

  <div class="bottom">
    <div class="BLhead">
    <span class="shown" [class.contant]="contan=='detail'" (click)="change(0,'detail')">宠物详情</span>
    <span class="shown fa fa-comment-o" [class.contant]="contan=='message'" (click)="change(1,'message')">留言板</span>
  </div>
<!--留言版块————————————————————————————————————-->
    <div class="bleft">

      <div class="leftt" [ngSwitch]="menunow">

        <app-pet-introduce *ngSwitchCase="0"></app-pet-introduce>


        <app-pet-messagenote *ngSwitchCase="1"></app-pet-messagenote>
      </div>
    </div>

    <div class="bright">
      <!--推荐版块————————————————————————————-->
<p class="men">萌宠推荐</p>
      <div class="main" *ngFor="let item of recommend;let i=index">
        <div class="petlft">
          <img class="img" src="{{item.pimg}}" alt="">
        </div>
        <div class="petrig">
          <!--<p><img class="uimg" src="{{item.uimg}}" alt="">{{item.uname}}</p>-->
          <p>品种：{{item.kind}}</p>
          <p>{{item.word}}</p>
          <!--<p>{{item.date}}</p>-->
        </div>
      </div>
    </div>

  </div>
</div></div>

