<div class="big">
  <!--<div class="head">-->
  <!--<ul>-->
  <!--<li>地区</li>-->
  <!--<li>用户名</li>-->
  <!--<li>浏览次数</li>-->
  <!--<li>最近编辑时间</li>-->
  <!--</ul>-->
  <!--<a class="report" href="">举报该宝贝</a>-->
  <!--</div>-->
  <div class="top">
    <div class="left">
      <div class="bpic"></div>
      <div class="spic"></div>
    </div>
    <div class="right">
      <div>
        <h3 class="title">超极品柴犬宝宝 血统好 签订购犬协议</h3>
        <div class="goodsprice">
          <dl class="read-doginfo1">
            <dt class="read-doginfo2">均价：</dt>
            <dd>
              <span class="pricenow">￥1300.00</span>
              <span>人气：555</span>
            </dd>
          </dl>
          <dl>
            <dt>卖家承诺：</dt>
            <dd>
              <span>犬舍直销  90天包退换  360天质保  可签协议！拒绝星期狗</span>
            </dd>
          </dl>
        </div>
        <div class="goodsinfo">
          <small>狗狗品种：</small>
          <span>
          <a href="http://www.goupuzi.com/thread-htm-fid-2-type-45.html">柴犬</a>
          </span>
          <small>狗狗性别：</small>
          <span>公</span>
          <small>疫苗情况：</small>
          <span>3针疫苗</span>
          <small>狗狗年龄：</small>
          <span>三个月</span>
          <small>驱虫情况：</small>
          <span>已驱虫</span>
          <small class="infohr">能否视频：</small>
          <span class="infohr">可视频看狗狗</span>
          <small class="infohr">有&nbsp;&nbsp;效&nbsp;&nbsp;期：</small>
          <span class="infohr">信息有效</span>
          <div></div>
          <small>联&nbsp;&nbsp;系&nbsp;&nbsp;人：</small>
          <span>王老板</span><!--
-->
          <small>所在地区：</small><span>
          <a href="http://www.goupuzi.com/thread-htm-fid-2-dogarea-1500.html">天津市</a>
          <a href="http://www.goupuzi.com/thread-htm-fid-2-dogarea-1501.html">和平区</a></span>
          <!--
          -->
          <small>联系电话：</small>
          <span>17681843031</span>
          <small>微信账号：</small>
          <span>17681843031</span>
          <!--qq客服脚本在enumsnew.js里-->
          <small>联系ＱＱ：</small><span>17681843031
          <img src="http://www.goupuzi.com/images/qqonline.jpg"
               onclick="resu(17681843031);" alt="qq" class="qqimg"> </span>
        </div>
      </div>
    </div>
    <div class="adv"><h1>广告</h1></div>
  </div>

  <div class="bottom">
    <div class="bleft">
<div class="BLhead">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>
</div>
      <app-pet-introduce ></app-pet-introduce>

      <app-pet-messagenote></app-pet-messagenote>
    </div>
    <div class="bright">



    </div>
  </div>
</div>


<p>
  adoption-details works!
</p>
{{petId}}
