<!--地区按钮加模态框-->

<div class="max">
  <div class="head">
    <h3 class="area">全国</h3>

    <div class="listright">
      <nav>
        <p (click)="showother()"><a>其他</a></p>
        <p (click)="showfish()"><a>鱼类</a></p>
        <p (click)="showbird()"><a>鸟类</a></p>
        <p (click)="showcat()"><a>喵星人</a></p>
        <p (click)="showdog()"><a>汪星人</a></p>
      </nav>
    </div>
  </div>
  <!--<div class="blank"></div>-->
  <div class="list-div">


    <ul class="flo">
      <li>
        <div *ngFor="let item of data;let i=index">
          <div class="list" *ngIf="i%4==1">
            <div class="user">
              <div class="uimg">
                <img class="uimg" src="{{item.uimg}}" alt="">
              </div>
              <div class="uname">
                <p class="uname01">{{item.uname}},{{item.height}}</p>
              </div>
            </div>
            <div class="petimg">
              <img height="{{item.height}}" class="petimg" src="{{item.img}}" alt="">
            </div>
            <div class="aa">
            <span class="dat">{{item.date}}</span>
            <span class="liulancishu">浏览次数{{item.browse}}</span></div>
            <div class="introduce">
              <p>{{item.introduce}}</p>

                <span>{{item.commentcount}}条评论</span>
                <span class="shoucang" (click)="exchange(i)">
                  <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" *ngIf="!item.isCollect"></i>
                  <i class="fa fa-thumbs-o-up " aria-hidden="true" *ngIf="item.isCollect"></i>
                  <span *ngIf="!item.isCollect">收藏</span>
                  <span *ngIf="item.isCollect">已收藏</span>
                </span>
                <br>


              <p></p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="flo">
      <li>
        <div *ngFor="let item of data;let i=index">
          <div class="list" *ngIf="i%4==2">
            <div class="user">
              <div class="uimg">
                <img class="uimg" src="{{item.uimg}}" alt="">
              </div>
              <div class="uname">
                <p class="uname01">{{item.uname}},{{item.height}}</p>
              </div>
            </div>
            <div class="petimg">
              <img height="{{item.height}}" class="petimg" src="{{item.img}}" alt="">
            </div>
            <div class="aa">
              <span class="dat">{{item.date}}</span>
              <span class="liulancishu">浏览次数{{item.browse}}</span></div>
            <div class="introduce">
              <p>{{item.introduce}}</p>

              <span>{{item.commentcount}}条评论</span>
              <span class="shoucang" (click)="exchange(i)">
                  <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" *ngIf="!item.isCollect"></i>
                  <i class="fa fa-thumbs-o-up " aria-hidden="true" *ngIf="item.isCollect"></i>
                  <span *ngIf="!item.isCollect">收藏</span>
                  <span *ngIf="item.isCollect">已收藏</span>
                </span>
              <br>


              <p></p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="flo">
      <li>
        <div *ngFor="let item of data;let i=index">
          <div class="list" *ngIf="i%4==3">
            <div class="user">
              <div class="uimg">
                <img class="uimg" src="{{item.uimg}}" alt="">
              </div>
              <div class="uname">
                <p class="uname01">{{item.uname}},{{item.height}}</p>
              </div>
            </div>
            <div class="petimg">
              <img height="{{item.height}}" class="petimg" src="{{item.img}}" alt="">
            </div>
            <div class="aa">
              <span class="dat">{{item.date}}</span>
              <span class="liulancishu">浏览次数{{item.browse}}</span></div>
            <div class="introduce">
              <p>{{item.introduce}}</p>

              <span>{{item.commentcount}}条评论</span>
              <span class="shoucang" (click)="exchange(i)">
                  <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" *ngIf="!item.isCollect"></i>
                  <i class="fa fa-thumbs-o-up " aria-hidden="true" *ngIf="item.isCollect"></i>
                  <span *ngIf="!item.isCollect">收藏</span>
                  <span *ngIf="item.isCollect">已收藏</span>
                </span>
              <br>


              <p></p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="flo">
      <li>
        <div *ngFor="let item of data;let i=index">
          <div class="list" *ngIf="i%4==0">
            <div class="user">
              <div class="uimg">
                <img class="uimg" src="{{item.uimg}}" alt="">
              </div>
              <div class="uname">
                <p class="uname01">{{item.uname}},{{item.height}}</p>
              </div>
            </div>
            <div class="petimg">
              <img height="{{item.height}}" class="petimg" src="{{item.img}}" alt="">
            </div>
            <div class="aa">
              <span class="dat">{{item.date}}</span>
              <span class="liulancishu">浏览次数{{item.browse}}</span></div>
            <div class="introduce">
              <p>{{item.introduce}}</p>

              <span>{{item.commentcount}}条评论</span>
              <span class="shoucang" (click)="exchange(i)">
                  <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" *ngIf="!item.isCollect"></i>
                  <i class="fa fa-thumbs-o-up " aria-hidden="true" *ngIf="item.isCollect"></i>
                  <span *ngIf="!item.isCollect">收藏</span>
                  <span *ngIf="item.isCollect">已收藏</span>
                </span>
              <br>


              <p></p>
            </div>
          </div>
        </div>
      </li>
    </ul>


  </div>


</div>

