
.max {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.area {
  font-size: 20px;
  margin-top: 40px;
  width: 100px;
  display: inline-block;
  float: left;
  border: 1px solid #eae937;
  text-align: center;
  cursor: pointer;

}

.area span {
  cursor: pointer;
}

.sanjiao {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #0F0;

}

.listright {
  padding-top: 40px;
  box-sizing: border-box;
  text-align: center;

}

.listright p {
  font-size: 1.2em;
  float: right;
  margin-left: 30px;
  /*border: 1px solid#9ca3b1;*/
}

.adcol {
  color: #f1e04e;
}

.head {
  width: 1145px;
  height: 100px;
  margin: auto;
  box-sizing: border-box;
}

.list {
  width: 265px;
  /*height: 340px;*/
  background-color: white;
  margin-left: 28px;
  border-radius: 2px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 28px;
}

.list:hover {
  box-shadow: 3px 3px 5px #a2a2a2;
  transition: transform 0.3s;
  transform: scale(1.01) translate(-5px, -5px);
}

.user {
  width: 100%;
  height: 60px;
  cursor: pointer;

}

.uimg {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #FCE1E5;
  border-radius: 100%;
}

.uname {
  display: inline-block;
  width: 150px;
  height: 40px;
}

.petimg {
  width: 100%;
  cursor: pointer;

}

.introduce {
  padding: 10px;
}

.introduce span {
  cursor: pointer;
}

.introduce span {

  color: #ababab;
}

.con {
  width: 284px;
  float: left;
}

.flo {
  float: left;
}

.dat {
  margin-left: 5px;
  margin-bottom: -5px;
  cursor: pointer;
}

.liulancishu {
  margin-left: 80px;
  cursor: pointer;
}

.aa {
  padding-top: 10px;
  padding-left: 5px;
}

.shoucang {
  margin-left: 20px;
}

.uname01 {
  margin-left: 10px;
}

#containe {
  top: 120px;
  width: 230px;
  background-color: #ff3c1f;
  position: absolute;
  z-index: 20;
  height: 150px;
  color: black;
  border: solid 1px #bdbdbd;
  border-radius: 5px;
  box-sizing: border-box;
}

#provinceSel {
  width: 30%;
  background-color: white;
  position: relative;
  z-index: 20;
  height: 150px;
  color: black;
  border: solid 1px #bdbdbd;
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
  overflow-y: scroll;

}

#citySel {
  width: 70%;
  background-color: white;
  position: relative;
  z-index: 20;
  height: 150px;
  color: black;
  border: solid 1px #bdbdbd;
  border-radius: 5px;
  box-sizing: border-box;
  float: right;
  overflow-y: scroll;

}

.pn:hover, .cn:hover {
  color: white;
  background-color: #00b38a;
  cursor: pointer;
}

.cn {
  float: left;
  width: 60px;
  margin-left: 5px;
  /*background-color: #d5bcff;*/
}
