<!--地区按钮加模态框-->

<div class="max">
  <div class="head">
    <div class="area" (click)="placee()">
      <span>{{choose}}</span>
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </div>

    <div id="containe" class="bn" [hidden]="pla">
      <!--省-->
      <div id="provinceSel">
        <ul>
          <li class="pn" *ngFor="let item of place;let i=index" (click)="pro(i)">{{item.provence}}</li>
        </ul>
      </div>
      <!--市-->
      <div id="citySel">
        <ul>
          <li class="cn" *ngFor="let item of cit;let j=index"(click)="citye(j)">{{item}}</li>
        </ul>
      </div>
    </div>









    <div class="listright">
      <nav>
        <p (click)="showaa(i)" *ngFor="let item of pet;let i=index">
          <a [class.adcol]="cindex==i">{{item.nav}}</a>
        </p>
      </nav>
    </div>
  </div>
  <div class="list-div">





    <ul class="flo" >
      <li >
        <div *ngFor="let item of data;let i=index">
          <div class="list" *ngIf="i%4==1">
            <div class="user">
              <div class="uimg">
                <img class="uimg" src="{{item.uimg}}" alt="">
              </div>
              <div class="uname">
                <p class="uname01">{{item.uname}}</p>
              </div>
            </div>
            <div class="petimg">
              <img routerLink="../detail/id" height="{{item.height}}" class="petimg" src="{{item.img}}" alt="">
            </div>
            <div class="aa">
            <span class="dat">{{item.date}}</span>
            <span class="liulancishu">浏览次数{{item.browse}}</span></div>
            <div class="introduce">
              <p  >
                <a routerLink="../detail/id">{{item.introduce}}</a>
              </p>

                <span>{{item.commentcount}}条评论</span>
                <span class="shoucang" (click)="exchange(i)">
                  <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" *ngIf="!item.isCollect"></i>
                  <i class="fa fa-thumbs-o-up " aria-hidden="true" *ngIf="item.isCollect"></i>
                  <span *ngIf="!item.isCollect">收藏</span>
                  <span *ngIf="item.isCollect">已收藏</span>
                </span>
                <br>


              <p></p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="flo">
      <li>
        <div *ngFor="let item of data;let i=index">
          <div class="list" *ngIf="i%4==2">
            <div class="user">
              <div class="uimg">
                <img class="uimg" src="{{item.uimg}}" alt="">
              </div>
              <div class="uname">
                <p class="uname01">{{item.uname}}</p>
              </div>
            </div>
            <div class="petimg">
              <img routerLink="../detail/id" height="{{item.height}}" class="petimg" src="{{item.img}}" alt="">
            </div>
            <div class="aa">
              <span class="dat">{{item.date}}</span>
              <span class="liulancishu">浏览次数{{item.browse}}</span></div>
            <div class="introduce">
              <p  ><a routerLink="../detail/id">{{item.introduce}}</a></p>

              <span>{{item.commentcount}}条评论</span>
              <span class="shoucang" (click)="exchange(i)">
                  <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" *ngIf="!item.isCollect"></i>
                  <i class="fa fa-thumbs-o-up " aria-hidden="true" *ngIf="item.isCollect"></i>
                  <span *ngIf="!item.isCollect">收藏</span>
                  <span *ngIf="item.isCollect">已收藏</span>
                </span>
              <br>


              <p></p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="flo">
      <li>
        <div *ngFor="let item of data;let i=index">
          <div class="list" *ngIf="i%4==3">
            <div class="user">
              <div class="uimg">
                <img class="uimg" src="{{item.uimg}}" alt="">
              </div>
              <div class="uname">
                <p class="uname01">{{item.uname}}</p>
              </div>
            </div>
            <div class="petimg">
              <img routerLink="../detail/id" height="{{item.height}}" class="petimg" src="{{item.img}}" alt="">
            </div>
            <div class="aa">
              <span class="dat">{{item.date}}</span>
              <span class="liulancishu">浏览次数{{item.browse}}</span></div>
            <div class="introduce">
              <p  ><a routerLink="../detail/id">{{item.introduce}}</a></p>

              <span>{{item.commentcount}}条评论</span>
              <span class="shoucang" (click)="exchange(i)">
                  <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" *ngIf="!item.isCollect"></i>
                  <i class="fa fa-thumbs-o-up " aria-hidden="true" *ngIf="item.isCollect"></i>
                  <span *ngIf="!item.isCollect">收藏</span>
                  <span *ngIf="item.isCollect">已收藏</span>
                </span>
              <br>


              <p></p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <ul class="flo">
      <li>
        <div *ngFor="let item of data;let i=index">
          <div class="list" *ngIf="i%4==0">
            <div class="user">
              <div class="uimg">
                <img class="uimg" src="{{item.uimg}}" alt="">
              </div>
              <div class="uname">
                <p class="uname01">{{item.uname}}</p>
              </div>
            </div>
            <div class="petimg" >
              <img routerLink="../detail/id" height="{{item.height}}" class="petimg" src="{{item.img}}" alt="">
            </div>
            <div class="aa">
              <span class="dat">{{item.date}}</span>
              <span class="liulancishu">浏览次数{{item.browse}}</span></div>
            <div class="introduce">
              <p  ><a routerLink="../detail/id">{{item.introduce}}</a></p>

              <span>{{item.commentcount}}条评论</span>
              <span class="shoucang" (click)="exchange(i)">
                  <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" *ngIf="!item.isCollect"></i>
                  <i class="fa fa-thumbs-o-up " aria-hidden="true" *ngIf="item.isCollect"></i>
                  <span *ngIf="!item.isCollect">收藏</span>
                  <span *ngIf="item.isCollect">已收藏</span>
                </span>
              <br>
            </div>
          </div>
        </div>
      </li>
    </ul>


  </div>


</div>

