
<div *ngFor=" let item of article;let i = index"  class="skill-details-bg">
  <!--<div *ngIf="{{item.id}}=">-->
  <h1>{{item.title}}</h1>
  <div class="skill-details-content">
    <div class="wenben-1">
    <p>
      &nbsp;&nbsp; {{item.square}}
    </p>
  </div>
    <div class="wenben-2">
        <img src="../../../assets/images/{{item.articleimag}}"/>
      <p style="text-align: center" >&nbsp;&nbsp;{{item.style}}</p>
      <p>
        &nbsp;&nbsp;{{item.p1}}
      </p>
      <p>
        &nbsp;&nbsp;{{item.p2}}
        <span>{{item.p21}}</span>
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.p3}}
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.p3}}<span>{{item.p31}}</span>
      </p>
    </div>
  </div>




<!--</div>-->
</div>
